*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
    scroll-padding-top: 100px;
}
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }

  a {
    color: #3498db;
    text-decoration: none;
  }

  a:hover {
    color: #5faee3;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  .container_header{
    max-width: 85% !important;
  }
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #3498db;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }

  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }

  .back-to-top:hover {
    background: #57aae1;
    color: #fff;
  }

  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    height: 100px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #FEFEFE;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  .logo{
    align-items: center;
  }
  .logo_title h1{
    color: #DA291C !important;
    font-size: 26.79px !important;
    font-weight: 300;
    line-height: 14.26px;
    margin-top: revert;
  }
  .logo_title h2{
    color: #DA291C !important;
    font-size: 13.39px !important;
    font-weight: 300;
    line-height: 14.26px;
    margin-top: revert;
  }


  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #384046;
    text-decoration: none;
  }

  #header .logo img {
    margin-right: 35px;
  }

  /*--------------------------------------------------------------
  # Header Social Links
  --------------------------------------------------------------*/
  .header-social-links {
    margin: 0 0 0 30px;
  }

  .header-social-links a {
    color: #9ba6af;
    padding-left: 8px;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
  }

  .header-social-links a i {
    line-height: 0;
  }

  .header-social-links a:hover {
    color: #3498db;
  }

  @media (max-width: 768px) {
    .header-social-links {
      margin: 0 15px 0 0;
    }
  }

  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation
  */
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
    display: flex;
    text-align: center;
    margin-right: 15%;
    align-items: center;
    height: 100px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 350;
    color: #1E1E1E;
    white-space: nowrap;
    transition: 0.1s;
  }


  .navbar .active {
    color: #1E1E1E;
    border-bottom: 3px solid #DB2D1B;
    transition: .2s all;
  }

  .navbar a:hover,
  .navbar li:hover>a{
    transform: scale(1.1);
    color: #1E1E1E;
  }
  .searchbar {
    font-size: 2.4rem;
    width: 18rem;
    height: 66px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(170, 170, 170, 0.25);
    background-color: #FBFBFB;
    padding: 2rem;
    position: relative;
    transition: all .2s;
    transition-delay: .1s;
  }



  .button {
    position: absolute;
    top: 0.7rem;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(119, 119, 119, 0.25);
    right: 9rem;
    transition: all .2s;
    transition-delay: .1s;
    background-color: #FBFBFB;
    padding: 9px;
  }

  .button:hover {
    cursor: pointer;
  }


  .container_search {
    width: 25rem;
    height: 100%;
    margin: 0 1rem;
    position: relative;
  }

  .searchbar::placeholder {
    position: absolute;
    bottom: 1.4rem;
    font-size: 20px;
    font-weight: lighter;
    line-height: 100%;
    text-align: left;
  }
  /**
  * Mobile Navigation
  */
  .mobile-nav-toggle {
    color: #384046;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }

  .mobile-nav-toggle.bi-x {
    color: #fff;
  }

  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }

    .navbar ul {
      display: none;
    }
  }

  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(33, 38, 42, 0.9);
    transition: 0.3s;
    z-index: 999;
  }

  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }

  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #384046;
  }

  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #3498db;
  }

  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }


.slider_section
{
    position: relative;
    margin-top: 100px;
    width: 100%;
}
.home_slider_inner{
    height: 556px;
}
.slider_li {
    border-radius: 50% !important;
    opacity: 1 !important;
    color: transparent;
    background-color: transparent !important;
    background-clip: border-box !important;
    border: 2px solid #fff !important;
    width: 15px !important;
    height: 15px !important;
    margin-right: 12px !important;
}
.carousel-indicators .active{
    background-color: #FFFFFF !important;
}
.home_carousel_item img{
    height: 556px;
    object-fit: cover;
}
.our_services_section {
    margin-top: 40px;
}
.our_services_card img {
    width: 200px;
    height: 200px;
    object-fit: fill;
    border-radius: 50%;
    border: 2px solid #FDC702;
}

.services_title{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.our_services_card p{
    font-size: 13px;
    font-weight: 300;
    width: 200px;
    margin-top: 23px;
    text-align: center;
}
.our_services_card{
    width: auto !important;
}
.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    padding: 20px;
  }
  .our_shop_slider .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1 !important;
    width: 5vh !important;
    height: 5vh;
    border-radius: 50%;
    top: 50% !important;
    transform: translateY(-50%);
  }
.card-body{
    margin-left: 10px;
}
.card-body p{
    font-size: 16px;
    color: #A92117;
}
.card-body h5{
    font-size: 16px;
    color: #1E1E1E;
}
.carousel-control-prev-icon{
    background-image: url('./../img/next.png') !important;
    transform: rotate(180deg);
}
.carousel-control-next-icon{
    background-image: url('./../img/next.png') !important;
}
#shop{
    margin-top: 40px;
}
.our_shop_slider .carousel-control-prev, .carousel-control-next{
    width: 56px !important;
    height: 56px;
    background-color: #FDC702 !important;
    opacity: 1 !important;
}
.owl-nav{
    position: absolute;
    bottom: 50%;
    width: 100%;
}
.prev-slide{
    background-image: url('../img/next.png');
    width: 56px;
    height: 56px;
    background-size: 10px 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FDC702;
    border-radius: 50%;
    transform: rotate(180deg);
}
.next-slide{
    background-image: url('../img/next.png');
    width: 56px;
    height: 56px;
    background-size: 10px 18px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color: #FDC702;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background-color: transparent !important;
    color: transparent !important;
}
.owl-prev{
    position: relative;
    left: -50%;
}
.owl-next{
    position: relative;
    left: 50%;
}
.product_image{
    height: 100%;
}
.card{
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    height: 368px !important;
}
.shop_title{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 57px;
}
#about{
    margin-top: 40px;
}
.about_title{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 65px;
}
.about_img{
    width: 50% !important;
}
.about_img img{
    width: 100% !important;
}
.about_text{
    width: 50% !important;
}
.about_text_title p{
    font-size: 40px;
    font-weight: 600;
}
.about_text_subtitle p{
    font-size: 25px;
    font-weight: 400;
}
.about_text_description p{
    font-size: 20px;
    font-weight: 300;
}
.about_text_title{
    width: inherit;
    margin-top: 80px;
}
.about_text_subtitle{
    margin-top: 10px;
}
.about_text_description{
    margin-top: 10px;
}

.our_contact_card{
    text-align: center;
    margin: 0 auto;
}
.our_contact_card img{
    width: 122px;
    height: 122px;
    margin: 0 auto;
}
.our_contact_card p{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin: 0 auto;
    width: 80%;
    color: #475E80;
}
.contact_title{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 72px;
}
.contact{
    margin-top: 40px;
    margin-bottom: 92px;
}
.footer_grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.footer_grid_item h2 {
    font-size: 21px;
    font-weight: 600;
    color: #3E3D3D;
}
.information_address p{
    font-size: 16px;
    font-weight: 300;
    color: #535353;
}
.footer_grid_item a {
    font-size: 16px;
    font-weight: 300;
    color: #535353;
    text-decoration: none;
}
.information_address{
    margin-bottom: 5px;
}
.information_address p{
    margin-bottom: 0px;
    width: 35%;
}
.information_address h2{
    font-size: 18px;
    font-weight: 400;
    color: #535353;
    margin-bottom: 3px;
}
.information_phone{
    margin-bottom: 5px;
}
.information_phone h2{
    font-size: 18px;
    font-weight: 400;
    color: #535353;
    margin-bottom: 3px;
}
.information_email h2{
    font-size: 18px;
    font-weight: 400;
    color: #535353;
    margin-bottom: 3px;
}
.footer_grid_item > div{
    margin: 30px auto;
}
.information_title{
    margin-bottom: 5px;
}
.social_links{
    margin: 15px 0px;
}
.social_links a{
    margin-right: 14px;
}
.about_footer{
    margin-bottom: 10px;
}
.footer{
    width: 85%;
    margin: 0 auto;
}
.carousel-item img{
    height: 560px;
}
.our_shop{
    width: 85%;
    margin: 0 auto;
}
.all_products{
    margin-top: 120px !important;
    margin-inline: auto !important;
}
.all_products .card{
    width: 22% !important;
    margin-bottom: 30px;
}
